body
{
    background-color: #F2F2F2;
}

html, body 
{

    height: 100%;

}

main
{
    min-height: 60%;
}


/*

HEADER - NAVBAR

*/

.nav-btn 
{
    border-radius: 0;
    color: black;
    text-transform: uppercase;
}

.navbar
{
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.navbar-brand
{
    font-family: 'Lato', sans-serif;
}

/*

JUMBOTRON

*/

.btn-style 
{
    font-weight: bold;
    border-radius: 0%;
}

#third-container 
{
    text-align: center;
}

/*

FOOTER

*/

footer 
{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.footer-links 
{
    color: black;
    font-size: 20px;
}


/*

A PROPOS

*/

.photo-a-propos img
{
    width: 150px;
    height: 150px;
}

.presentation-a-propos 
{
    text-align: center;
}

.titre-a-propos 
{
    font-weight: bold;
}

.sous-titre-a-propos
{
    font-style: italic;
}


/*

PROFILE

*/

.statistique-div 
{
    display: flex;
}

/*

NEWS

*/

.listediv
{
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.card-task 
{
    margin: auto;
    margin-bottom: 5%;
    width: 75%;
}